@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Geist Sans', sans-serif;
}

@layer base {
  :root {
    --accent: 142 40% 46% / 0.2;
    --accent-foreground: 151 17% 39%;
    --background: 44 96% 98%;
    --border: 44 24% 83%;
    --brand: 142 40% 46%;
    --card: 44 96% 98%;
    --card-foreground: 151 17% 39%;
    --destructive: 3 89% 65%;
    --destructive-foreground: 44 96% 98%;
    --foreground: 151 17% 39%;
    --highlight: 88 23% 63%;
    --input: 44 24% 83%;
    --muted: 44 24% 95%;
    --muted-foreground: 151 9% 43%;
    --popover: 44 96% 98%;
    --popover-foreground: 151 17% 39%;
    --primary: 142 40% 46%;
    --primary-foreground: 44 96% 98%;
    --ring: 142 40% 46%;
    --secondary: 44 24% 95%;
    --secondary-foreground: 151 17% 39%;
    --radius: 0.5rem;
  }

  .dark {
    --accent: 88 23% 63% / 0.2;
    --accent-foreground: 39 14% 74%;
    --background: 220 17% 20%;
    --border: 210 9% 33%;
    --brand: 88 23% 63%;
    --card: 220 17% 24%;
    --card-foreground: 39 14% 74%;
    --destructive: 0 43% 70%;
    --destructive-foreground: 39 14% 74%;
    --foreground: 39 14% 74%;
    --highlight: 142 40% 46%;
    --input: 210 9% 33%;
    --muted: 210 9% 33%;
    --muted-foreground: 95 8% 53%;
    --popover: 220 17% 24%;
    --popover-foreground: 39 14% 74%;
    --primary: 88 23% 63%;
    --primary-foreground: 220 17% 20%;
    --ring: 88 23% 63%;
    --secondary: 210 9% 31%;
    --secondary-foreground: 39 14% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background text-foreground antialiased;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply rounded-sm bg-background;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply cursor-grabbing rounded-sm bg-muted-foreground;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-foreground;
  }
}

@layer base {
  [data-registry='plate'] * {
    @apply border-border;
  }
  [data-registry='plate'] body {
    @apply bg-background text-foreground;
  }
}
